body {
  font-family: 'Roboto', sans-serif;
}

/*Invisble class*/
.invisible {
  display: none;
}

.choose_field {
  display: flex;
  align-items: center;
}

.choose_field div {
  align-self: center;
}

select {
  color: #60666D;
  font-size: 12pt;
  min-width: 150px;
  margin: 2px 5px;
  padding: 5px;
}

span {
  margin: 3px 5px;
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    background: #d8d8d8;
    padding: 1px 10px;
}





/*Media Queries*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
